#bg{
/* iMac - 1 */

position: relative;
width: 1280px;
height: 720px;

/* yellow */
background: #FED801;

}

.smile{
/* 微笑單車．暢遊城市 */

position: absolute;
width: 213px;
height: 19px;
left: 518px;
top: 273px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.92em;

/* black */
color: #000000;

}


.logo17{
/* Logo (17) 1 */

position: absolute;
width: 245px;
height: 47px;
left: 517px;
top: 219px;

}



.frame19{
/* 查詢自行車道 */

position: static;
width: 96px;
height: 24px;
left: 74px;
top: 12px;

/* H2_TC */
font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* black */
color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;
}

.frame21{


/* 尋找 Youbike */

position: static;
width: 99px;
height: 24px;
left: 72.5px;
top: 12px;

/* H2_TC */
font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* black */
color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;
}



.Rectangle{
/* Rectangle */

position: absolute;
width: 119px;
height: 75px;
left: 513px;
top: 151px;

/*position: absolute;
    height: 57px;
    width: 99px;
    left: 108px;
    top: 29px;
    border-radius: 0px;*/
filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
background: url(bike.png);
}


.frame20{
/* 附近景點、美食 */

position: static;
width: 112px;
height: 24px;
left: 66px;
top: 12px;

/* H2_TC */
font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* black */
color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;

}


.where{
/* Where’s YouBike © Code: Alex / Design: KT */

position: absolute;
width: 237px;
height: 14px;
left: 1003px;
top: 686px;

/* copyright */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

/* black */
color: #000000;
}

.submenu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.btn{
    justify-content:center;
    width: 244px;
    background-color: #FED801;
    padding: 10px;        
    border-radius: 10px;
    margin: 5px 0px;
}  

.menu{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
}  
.small{
    display: flex;
    flex-direction: column;
    justify-content:center;
   width: 47px;
   height: 47px;
  }